<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c7ee79d3-73b9-4bbf-bad5-7d26a89b8656/resourceGroups/PSST/providers/Microsoft.Web/sites/PSST</ResourceId>
    <ResourceGroup>PSST</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://psst-bsfghnd6c9cscqa9.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>psst-bsfghnd6c9cscqa9.scm.southafricanorth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PSST</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAESdYHXQIr0yI/AfTzqhOFwAAAAACAAAAAAAQZgAAAAEAACAAAADChAw7HOibK/Z9cQH8c1kFbkMhycbNnf5SeFSyBbLi3QAAAAAOgAAAAAIAACAAAAB4u+dev7UFIXeTLHpSo+EwgtNf89yvX9KPXKVdRuo8wSAAAAAnbN5nSOSTawyS5RC9RvvT80g65iYH3U5PMaV/qR8jE0AAAADcRb7ZGJjFGEyaZlWFWbiWGKm3Mrrl9tcwnld5IV7gIXenQCXrDE4Go0Y52r07MhgnBw02yDGos+W7hSgocg1n</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DBConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=sql15.cpt2.host-h.net;Database=Ruans_Testing;User Id=onlingxwzp_35;Persist Security Info=True;Password=SvJv71kTn519WDCTreS8" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=sql15.cpt2.host-h.net;Database=Ruans_Testing;User Id=onlingxwzp_35;Persist Security Info=True;Password=SvJv71kTn519WDCTreS8" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>